[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
langchain-openai = "*"
langchain-ollama = "*"
python-dotenv = "*"
pyyaml = "*"
pydantic = "*"
tqdm = "*"
openai = "*"
flask = "==3.0.0"
flask-cors = "==4.0.0"
flask-sqlalchemy = "==3.1.1"
flask-migrate = "==4.0.5"
marshmallow = "==3.20.1"

[dev-packages]

[requires]
python_version = "3.8"
